<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">

    <div class="container-fluid">
    <div class="col-md-2">
      <a class="navbar-brand">
        <img src="https://www.nicepng.com/png/detail/208-2081530_other-insurance-icon-insurance.png" alt="" width="90" height="50">
        <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/logos/digit.svg" alt="" width="60" height="50">
    </a>
    </div>

    

      <div class="collapse navbar-collapse " id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" aria-current="page" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" >Action</a></li>
                <li><a class="dropdown-item" >Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" >Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Claims</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" >Action</a></li>
                <li><a class="dropdown-item" >Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" >Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3"  id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Renewals
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  tabindex="-1" aria-disabled="true">Become Digit POSP</a>
          </li>
        </ul>

    

    
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
      </div>
    </div>
  </nav>


  <p style="font-family: cursive; font-size: medium;">Do the Insurance!</p>
  <!-- <p style="font-family: cursive; font-size: small;">Trusted by 4<sup style="font-size: x-large;">+</sup> Billion</p> -->

 

<nav class="navbar navbar-expand-lg navbar-light bd-light shadow"> 
    <div class="container"> 
           
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100 d-flex justify-content-center ">
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column" routerLink="/cars" routerLinkActive="active">
            <img src="https://cdn-icons-png.flaticon.com/512/3456/3456448.png"  alt="" width="50" height="50">
            <span class="px-2"routerLinkActive="active">Cars</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column" routerLink="/bike" routerLinkActive="active">
            <img src="https://cdn-icons-png.flaticon.com/512/2474/2474136.png" alt="" width="50" height="50">
            <span class="px-2">Bike</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column" routerLink="/health" routerLinkActive="active">
            <img src="https://cdn-icons-png.flaticon.com/512/3076/3076646.png" alt="" width="50" height="50">
            <span class="px-2">Health</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column">
            <img src="https://cdn-icons-png.flaticon.com/512/4599/4599472.png" alt="" width="50" height="50">
            <span class="">Commercial</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column">
            <img src="https://cdn-icons-png.flaticon.com/512/6195/6195655.png" alt="" width="50" height="50">
            <span class="px-1">Travel</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column">
            <img src="https://cdn-icons-png.flaticon.com/512/1458/1458512.png" alt="" width="50" height="50">
            <span class="">Renewals</span>
        </a>
      </li>  
      <!-- <li>
       <img src="https://www.maxlifeinsurance.com/static-page/assets/homepage/banner1_desktop_rohit_68c900b630.webp" alt="" width="100" height="150"> 
      </li> -->
    </ul>
  </div>
</div>
</nav>