
<br><br>

<div class="col-md-3 mx-auto shadow border-border-success">
    <div class="container ">
      <h3>Select Models</h3>
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let brands of modelData[0].models;let i = index">
            <td  style="font-weight: 700;cursor: pointer;" routerLink="/cars/carsVarient" routerLinkActive="active">{{brands.concat}}</td>   
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <!-- {{Qbrand|json}} -->

   
   