<br><br>

<div class="container w-75 p-2 mt-2 border rounded-3 border-danger shadow-sm">
    <div class="row">
    <div class="col-md-5">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Registration Number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Eg. MH04AS1005">
          </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mobile No.</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(Optional)">
          </div>
    </div>
    <div class="col-md-2 text-center">
        <button class="btn btn-outline-success px-4 mt-4">View Prices</button>
    </div>
</div>
</div>


<div class="container-fluid d-flex row w-75 justify-content-center ">
    <div class="col-md-3">
        <a routerLink="/cars/carsBrand" routerLinkActive="active">Dont Have a Reg No.</a>
        <!-- <app-cars-brand></app-cars-brand> -->
    </div>
    <div class="col-md-3">
        <a routerLink="/cars/carsBrand" routerLinkActive="active">Register With Mob.</a>
        <!-- <app-cars-brand></app-cars-brand> -->
    </div>
    <div class="col-md-2">
        <a routerLink="/cars/carsBrand" routerLinkActive="active">Renew Your Policy</a>
        <!-- <app-cars-brand></app-cars-brand> -->
    </div>
</div>




  